
form label {
  padding-left: 10px;
  padding-right: 5px;
}

.card-header {
  font-weight: bold;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
}



#searchResults{
  justify-content: space-evenly;
}

.card-deck > div {
  padding-bottom: 1.25rem;
}

.card-body {
  height: 100%;
}

.card .row {
  height: 100%;
}

.card img {
  padding: 10px;
}


@media(max-width:992px) {

}

@media(min-width:993px) {
  .card {
    transition: 0.1s;
    position: relative;
  }

  .card:hover {
    z-index: 2;
    box-shadow: -5px 5px 15px 0 #555;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}